<div class="row">
  <div class="col-8 offset--1">
    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title"> {{users.firstName}} {{users.lastName}}</h5>
        <hr>
        <ul>
          <p> Phone number: {{users.phone}}</p>
          <hr>
          <p> Email: {{users.email}} </p>
          <hr>
          <p> Address: {{users.address}}
            {{users.city}}, {{users.state}}, {{users.zip}} </p>
          <hr>
          <p>Rate: ${{users.rate}} </p>
        </ul>


        <hr>
        {{!-- <strong>Description:</strong> {{example.description}}</p> --}}
        <a href="/profile">â† Back To Dog Walkers</a>
      </div>
    </div>
  </div>
</div>