<div class="row" >
  <div class="col-8 offset--1">
    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title">HOME PAGE</h5>
        <p>
          <strong>Name</strong>:
          <br>
          {{users.firstName}} {{users.lastName}}
          <br>
          <strong>Address</strong>:
          <br>
          {{users.address}}
          <br>
          {{users.city}},{{users.state}},{{users.zip}}
          <br>
          <strong>Email</strong>:
          <br>
          {{users.email}}</a>
          <br>
          <strong>Phone number</strong>:
          <br>
          {{users.phone}}</a>
          <br>
          <strong>Rate</strong>:
          <br>
          {{users.rate}}</a>
        </p>
        <p>

          {{!-- <strong>Description:</strong> {{example.description}}</p> --}}
          <a href="/profile">â† Back To Dog Walkers</a>
      </div>
    </div>
  </div>
</div>