<div class="row">
  <div class="col-8 offset-2">
  
    <h3><i class="fas fa-dog"></i> Walker Profile </h3>
    <ul id="example-list" class="list-group">
      {{#each users}}
      <li data-id="{{id}}" class="list-group-item">
        <a href="example/{{id}}">
        {{firstName}} {{lastName}}
        <br>
        {{adress}}
        <br>
        {{city}},{{state}},{{zipcode}}
        <br>
        {{email}}</a>
        {{!-- <button class="btn btn-danger float-right delete">ｘ</button> --}}
      </li>
      {{/each}}
    </ul>
  </div>
</div>