
        <form id="update-form">

                <div class="row">
                    <div class="col-md-12">

                        <div class="col-md-12 mb-3">
                            <label for="validationServer01">First name</label>
                            <input value={{user.firstName}} type="name" class="form-control" id="name" placeholder="First name" required>
                            <div class="valid-feedback"></div>
                        </div>
                    
                    
                    <div class="col-md-12 mb-3">
                        <label for="validationServer02">Last name</label>
                        <input value={{user.lastName}} type="lastName" class="form-control" id="lastName" placeholder="Last name" required>
                        <div class="valid-feedback"></div>
                    </div>

                    <div class="col-md-12 mb-3">
                        <label for="validationServer03">Address: </label>
                        <input value={{user.address}} type="address" class="form-control" id="address" placeholder="Address" required>
                        <div class="valid-feedback"></div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="validationServer04">City: </label>
                        <input value={{user.city}} type="city" class="form-control" id="city" placeholder="City" required>
                        <div class="valid-feedback"></div>
                    </div>

                    <div class="col-md-12 mb-3">
                        <label for="validationServer05">State: </label>
                        <select class="form-control" id="state" required>
                            <option value={{user.state}} selected>select your state</option>
                            {{#each states}}
                            <option>{{ name }}</option>
                            {{/each}}
                        </select>
                        <div class="valid-feedback"></div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="validationServer06">Zip: </label>
                        <input value={{user.zip}} type="zip" class="form-control" id="zip" placeholder="Zip" required>
                        <div class="valid-feedback"></div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input value={{user.email}} type="email" name="email" class="form-control" id="email"
                                aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                    </div>
                     <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label for="phone">Phone Number</label>
                            <input value={{user.phone}} type="phone" name="phone" class="form-control" id="phone"
                                aria-describedby="phoneHelp" placeholder="Enter phone number">
                        </div>
                    </div>
                     <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label for="rate">Rate</label>
                            <input value={{user.rate}} type="rate" name="rate" class="form-control" id="rate"
                                aria-describedby="rateHelp" placeholder="Enter Rate">
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input value={{user.password}} type="password" name="password" class="form-control" id="password"
                                placeholder="Password">
                        </div>
                    </div>

                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label for="user-image">User Image</label>
                            <input value={{user.imageUrl}}  type="text" name="user-image" class="form-control" id="user-image"
                                placeholder="user image url">
                        </div>
                    </div>

                    {{!-- <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Upload</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01">
                            <label class="custom-file-label" for="inputGroupFile01">Input URL</label>
                        </div>
                    </div> --}}
                    <button id="mainButton" type="submit" class="btn btn-outline-secondary" class="w-100">Submit</button>
                    </div>
                </div>
            </form>
 